.setup{
	text-align: center;
	position: absolute;
	top: 50%; left: 0;
	width: 100%;
	transform: translateY(-50%);
}
.setup h2{
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 25px;
}
.setup form{
	display: flex;
	justify-content: center;
}
.setup input[type='number']{
	border: 1px solid #044F67;
	font-size: 18px;
	text-align: center;
	outline: none;
}
.setup input[type="submit"]{
	border: 1px solid #044F67;
	background: #044F67;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 15px;
	cursor: pointer;
	transition: opacity .2s ease;
}

.setup input[type="submit"]:hover 	{opacity: .8;}